// Animations
$generic-duration: .5s;
$loading-pacman-duration: 1s;

// Colors
$black: #000;
$purple: #251533;
$blue: #2121ff;
$blue-pale: #4E60AC;
$logo-black: #231f20;
$logo-red: #ee2a29;
$logo-yellow: #fcc73f;
$transparent-gray: rgba(255, 255, 255, .25);
$white: #fff;
$yellow: #FED002;
