@import 'variables';

* {
  font-family: 'Press Start 2P', sans-serif;
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

.fs {
  &-1 {
    font-size: 4vh;
  }
  &-2 {
    font-size: 3vh;
  }
  &-3 {
    font-size: 2.5vh;
  }
  &-4 {
    font-size: 2vh;
  }
  &-5 {
    font-size: 1.5vh;
  }
  &-6 {
    font-size: 1.25vh;
  }
  &-7 {
    font-size: 1vh;
  }

}

.m {
  &-auto {
    margin: auto;
  }

  &-0 {
    margin: 0;
  }
  &-1 {
    margin: 0.25rem;
  }
  &-2 {
    margin: 0.5rem;
  }
  &-3 {
    margin: 0.75rem;
  }
  &-4 {
    margin: 1rem;
  }
  &-5 {
    margin: 1.25rem;
  }
  &x {
    &-auto {
      margin-left: auto;
      margin-right: auto;
    }
    &-0 {
      margin-left: 0;
      margin-right: 0;
    }
    &-1 {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    &-2 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    &-3 {
      margin-left: 0.75rem;
      margin-right: 0.75rem;
    }
    &-4 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-5 {
      margin-left: 1.25rem;
      margin-right: 1.25rem;
    }
  }
  &y {
    &-auto {
      margin-top: auto;
      margin-bottom: auto;
    }
    &-0 {
      margin-top: 0;
      margin-bottom: 0;
    }
    &-1 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    &-2 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &-3 {
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
    &-4 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-5 {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
    }
  }
}

.p {
  &-0 {
    padding: 0;
  }
  &-1 {
    padding: 0.65vh;
  }
  &-2 {
    padding: 1.3vh;
  }
  &-3 {
    padding: 1.95vh;
  }
  &-4 {
    padding: 2.6vh;
  }
  &-5 {
    padding: 3.25vh;
  }
  &x {
    &-0 {
      padding-left: 0;
      padding-right: 0;
    }
    &-1 {
      padding-left: 0.65vh;
      padding-right: 0.65vh;
    }
    &-2 {
      padding-left: 1.3vh;
      padding-right: 1.3vh;
    }
    &-3 {
      padding-left: 1.95vh;
      padding-right: 1.95vh;
    }
    &-4 {
      padding-left: 2.6vh;
      padding-right: 2.6vh;
    }
    &-5 {
      padding-left: 3.25vh;
      padding-right: 3.25vh;
    }
  }
  &y {
    &-0 {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-1 {
      padding-top: 0.65vh;
      padding-bottom: 0.65vh;
    }
    &-2 {
      padding-top: 1.3vh;
      padding-bottom: 1.3vh;
    }
    &-3 {
      padding-top: 1.95vh;
      padding-bottom: 1.95vh;
    }
    &-4 {
      padding-top: 2.6vh;
      padding-bottom: 2.6vh;
    }
    &-5 {
      padding-top: 3.25vh;
      padding-bottom: 3.25vh;
    }
  }
}

.w-50 {
  width: 50%;
}
.d-flex {
  display: flex;
  // align-items: flex-start; // Ensures scoreboard and game are both visible
}
.d-none {
  display: none !important;
}

body {
  margin: 0;
  overflow: hidden; // Remove or comment out to allow scrolling
}

.overflow-mask {
  background-color: $black;
  color: $white;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  position: relative;
  touch-action: manipulation;
}

.backdrop {
  position: absolute;
  visibility: hidden;
}

.fps-display {
  position: absolute;
  right: 10px;
  top: 10px;
  visibility: hidden;
}

.preload-div {
  align-items: baseline;
  bottom: 0;
  display: flex;
  flex-wrap: wrap-reverse;
  position: absolute;
  visibility: hidden;
}

.header-buttons {
  padding: 2rem 3rem;
  width: calc(100vw - 6rem);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  a {
    font-family: none;
    display: inline-block;
  }

  img {
    height: 2rem;
  }

  button {
    background: none;
    border: 0;
    color: $white;
    cursor: pointer;
    outline: none;
    padding: 0;

    .material-icons {
      font-size: 40px;
    }
  }
}

.paused-text {
  align-items: center;
  display: flex;
  font-size: 50px;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  user-select: none;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.game-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .one-up {
    animation: blink 0.6s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .row {
    display: flex;
  }

  .top {
    ._25 {
      width: 25%;
    }

    ._50 {
      width: 50%;
    }

    .column {
      :first-child {
        text-align: center;
      }

      :not(:first-child) {
        margin-right: calc(50% - 3em);
        text-align: right;
      }
    }
  }

  .bottom {
    justify-content: space-between;

    .extra-lives {
      align-items: flex-start;
      display: flex;
    }

    .fruit-display {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.loading-cover {
  background: $yellow;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 50vw;
  z-index: 4;
}

.left {
  left: 0;
  transition: left $generic-duration ease-in-out;
  display: none;
}

.right {
  right: 0;
  transition: right $generic-duration ease-in-out;
  display: none;
}

.main-menu-container {
  align-items: center;
  display: flex;
  // flex-direction: column;
  // height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s;
  visibility: hidden;
  width: 100%;
  z-index: 5;
  position: absolute;
  bottom: 0;
}

.brent-ward-logo {
  position: absolute;
  top: 2rem;
  left: 3rem;

  img {
    height: 2rem;
  }
}

.logo {
  width: 800px;
  max-width: 80vw;
  margin-top: 25vh;
}
.item-showcase {
  display: flex;
  justify-content: center;
  width: 100%;
  img {
    height: 5vh;
    width: auto;
    
  }
}
.start-message {
}
#leaderboard-container {
background-color: $yellow;
background-image: url('../app/style/graphics/ozwell-leaderboard.svg');
background-position: left 118px;
background-repeat: no-repeat;
background-size: 56%;
}
#leaderboard-table {
  margin-top: 45vh;
  width: 50%;
  min-height: 26vh;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    tr {
      border-bottom: 2px solid #000;
    }
    
  }
  th {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
  }

  td {

    // font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    &:nth-child(1) {
    }
    &:nth-child(2) {

    }
  }
}
#player-initials {
  background-color: $black;
  border: 5px solid $blue-pale;
  border-radius: 16px;
  color: $white;
  // font-size: 34px;
  outline: none;
  padding: 16px;
  text-transform: uppercase;
  // width: 500px;

  &:focus {
    border-color: $logo-red;
  }
}
.game-start {
  background-color: transparent;
  // border: 5px solid $logo-black;
  // border-radius: 10px;
  // box-shadow: 5px 5px $logo-red;
  color: $white;
  cursor: pointer;
  // font-size: 34px;
  outline: none;
  padding: 20px;
  text-transform: uppercase;
  background: url('../app/style/graphics/btn-start-up.svg') no-repeat left center / contain;
  padding-left: 6rem;

  &:active {
    background: url('../app/style/graphics/btn-start-down.svg') no-repeat left center / contain;
    box-shadow: none;
    // transform: translateX(5px) translateY(5px);
  }

  &:disabled {
    cursor: default;
  }
}

@media only screen and (max-width: 600px) {
  .game-start {
    scale: 0.5;
  }
}

.loading-container {
  background-color: $black;
  border: 5px solid $blue;
  border-radius: 10px;
  height: 48px;
  position: absolute;
  top: 50%;
  transition: opacity $generic-duration $loading-pacman-duration;
  width: 500px;
  z-index: 5;
}

@media only screen and (max-width: 600px) {
  .loading-container {
    transform: scale(0.5);
  }
}

.loading-pacman {
  animation: loading-animation 0.3s steps(4) infinite;
  background-color: $black;
  background-image: url('../app/style/graphics/spriteSheets/characters/pacman/ozwell_right.svg');
  background-size: 192px;
  border-radius: 10px;
  height: 48px;
  position: absolute;
  transition: left $loading-pacman-duration;
  width: 48px;
  z-index: 6;
}

@keyframes loading-animation {
  100% {
    background-position: -192px;
  }
}

.loading-dot-mask {
  background-color: $black;
  border-radius: 10px;
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  transition: width $loading-pacman-duration;
  z-index: -1;
}

.loading-dot {
  background-image: url('../app/style/graphics/spriteSheets/pickups/pacdot.svg');
  height: 6px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  z-index: -2;
}

._5 {
  left: 5%;
}
._10 {
  left: 10%;
}
._15 {
  left: 15%;
}
._20 {
  left: 20%;
}
._25 {
  left: 25%;
}
._30 {
  left: 30%;
}
._35 {
  left: 35%;
}
._40 {
  left: 40%;
}
._45 {
  left: 45%;
}
._50 {
  left: 50%;
}
._55 {
  left: 55%;
}
._60 {
  left: 60%;
}
._65 {
  left: 65%;
}
._70 {
  left: 70%;
}
._75 {
  left: 75%;
}
._80 {
  left: 80%;
}
._85 {
  left: 85%;
}
._90 {
  left: 90%;
}
._95 {
  left: 95%;
}

.error-message {
  color: $logo-black;
  opacity: 0;
  position: absolute;
  top: 30vh;
  transition: opacity $generic-duration;
  visibility: hidden;
  width: 50vw;
  z-index: 4;

  .error-pacman {
    animation: error-animation 1.5s steps(12) infinite;
    background-image: url('../app/style/graphics/spriteSheets/characters/pacman/pacman_error.svg');
    background-size: 576px;
    height: 48px;
    margin-left: 10px;
    width: 48px;
    z-index: 6;
  }

  @keyframes error-animation {
    100% {
      background-position: -576px;
    }
  }

  .header {
    display: flex;
    font-size: 50px;
    margin-bottom: 30px;
  }

  .body {
    font-size: 20px;
    line-height: 1.25;
  }
}
